.container {
  text-align: center !;
  margin: 50px 0 !important;
}

.card {
  margin-bottom: 0 2% !important;
  margin: 10px !important;
  border: 1px solid lightgray;
}

.infected {
  margin-left: auto !important;

  border: 1px solid rgba(0, 0, 255, 0.5);
}

.infected:hover {
  border-top: 30px solid rgba(0, 0, 255, 0.5) !important;
  border: none;
  transition: 0.6s ease-out;
  transform: scale(1.5);
  cursor: pointer;
}
.recovered {
  border: 1px solid rgba(0, 255, 0, 0.5);
}
.recovered:hover {
  border-top: 30px solid rgba(0, 255, 0, 0.5) !important;
  border: none;

  transition: 0.6s ease-out;
  transform: scale(1.5);

  cursor: pointer;
}

.deaths {
  border: 1px solid rgba(255, 0, 0, 0.5);

  margin-right: auto !important;
}
.deaths:hover {
  border-top: 30px solid rgba(255, 0, 0, 0.5) !important;
  border: none;
  transition: 0.6s ease-out;
  transform: scale(1.5);
  cursor: pointer;
}
